<table aria-label="Oversubscription Report">
  <thead>
    <tr>
      <th scope="col">Suite Size</th>
      <th scope="col">Suites</th>
      <th scope="col">Groups</th>
      <th scope="col">Locked Groups</th>
      <th scope="col">Available Suites</th>
      <% if policy(draw).restrict_all_sizes? %>
        <th scope="col"></th>
      <% end %>
  </thead>
  <tbody>
    <% @draw.sizes.each do |size| %>
      <tr class="<%= diff_class(@draw.oversubscription[size])%>">
        <th scope="row"><%= size_str(size).capitalize.pluralize %></th>
        <td data-role="suite-count"><%= @draw.suite_counts[size] %></td>
        <td data-role="group-count"><%= @draw.group_counts[size] %></td>
        <td data-role="locked-count"><%= @draw.locked_counts[size] %></td>
        <td data-role="oversubscription"><%= @draw.oversubscription[size] %></td>
        <% if policy(@draw).restrict_all_sizes? %>
          <td class="actions"><%= toggle_size_restricted_btn(draw: @draw, size: size, path: path) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if policy(@draw).restrict_all_sizes? %>
  <div>
    <%= link_to 'Restrict all sizes', restrict_all_sizes_draw_path(@draw, redirect_path: draw_path(@draw)), method: :patch, **with_tooltip(text: 'This will restrict ALL group sizes, preventing new groups from being created.', class_override: 'button') %>
  </div>
<% end %>
